# Grouping

## By author

{{#tag_groups.org_opencontainers_image_authors}}
{{> tag_group.md.mustache}}
{{/tag_groups.org_opencontainers_image_authors}}

## By license

{{#tag_groups.org_opencontainers_image_licenses}}
{{> tag_group.md.mustache}}
{{/tag_groups.org_opencontainers_image_licenses}}

## By vendor

{{#tag_groups.org_opencontainers_image_vendor}}
{{> tag_group.md.mustache}}
{{/tag_groups.org_opencontainers_image_vendor}}
