# Today's Menu
{{#dishes}}

## `{{option}}`

Authors:

{{#tags.org_opencontainers_image_authors}}
- {{.}}
{{/tags.org_opencontainers_image_authors}}

Version:{{#tags.org_opencontainers_image_version}} {{.}}{{/tags.org_opencontainers_image_version}}
{{/dishes}}
