# Today's Menu
{{#dishes}}

## `{{option}}`

Authors:

{{#metadata.tags.org_opencontainers_image_authors}}
- {{.}}
{{/metadata.tags.org_opencontainers_image_authors}}

Version:{{#metadata.tags.org_opencontainers_image_version}} {{.}}{{/metadata.tags.org_opencontainers_image_version}}
{{/dishes}}
